<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>{{ 'TERMS_TITLE' | translate }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="outer-content">

	<ion-card class="cardDesign">
		<ion-card-content>
			{{ 'TERMS_P1_1' | translate }}
			<ul>
			<li>{{ 'TERMS_P1_2' | translate }}</li>
			<li>{{ 'TERMS_P1_3' | translate }}</li>
			</ul>
			{{ 'TERMS_P1_4' | translate }}	
		</ion-card-content>
	</ion-card>
	<ion-card class="cardDesign">
		<ion-item>
			<h2>{{ 'TERMS_P2_1' | translate }}</h2>
		</ion-item>
		<ion-card-content>
			{{ 'TERMS_P2_2' | translate }}
		</ion-card-content>	
	</ion-card>
	<ion-card class="cardDesign">
		<ion-item>
			<h2>{{ 'TERMS_P3_1' | translate }}</h2>
		</ion-item>
		<ion-card-content>
			{{ 'TERMS_P3_2' | translate }}<br/>
			<ul>
				<li>{{ 'TERMS_P3_3' | translate }}</li>
				<li>{{ 'TERMS_P3_4' | translate }}</li>
				<li>{{ 'TERMS_P3_5' | translate }}</li>
				<li>{{ 'TERMS_P3_6' | translate }}</li>
				<li>{{ 'TERMS_P3_7' | translate }}</li>
				<li>{{ 'TERMS_P3_8' | translate }}</li>
			</ul>
		</ion-card-content>	
	</ion-card>
	<ion-card class="cardDesign">
		<ion-item>
			<h2>{{ 'TERMS_P4_1' | translate }}</h2>
		</ion-item>
		<ion-card-content>
			{{ 'TERMS_P4_2' | translate }}<br/><br/>
			{{ 'TERMS_P4_3' | translate }}<br/><br/>
			{{ 'TERMS_P4_4' | translate }}<br/>
		</ion-card-content>	
	</ion-card>	
	<ion-card class="cardDesign">
		<ion-item>
			<h2>{{ 'TERMS_P5_1' | translate }}</h2>
		</ion-item>
		<ion-card-content>
			{{ 'TERMS_P5_2' | translate }}
		</ion-card-content>	
	</ion-card>	
	<ion-card class="cardDesign">
		<ion-item>
			<h2>{{ 'TERMS_P6_1' | translate }}</h2>
		</ion-item>
		<ion-card-content>
			{{ 'TERMS_P6_2' | translate }}
		</ion-card-content>	
	</ion-card>	
	<ion-card class="cardDesign">
		<ion-item>
			<h2>{{ 'TERMS_P7_1' | translate }}</h2>
		</ion-item>
		<ion-card-content>
			{{ 'TERMS_P7_2' | translate }}<br/><br/>
			{{ 'TERMS_P7_3' | translate }}<br/>
		</ion-card-content>	
	</ion-card>	
	<ion-card class="cardDesign">
		<ion-item>
			<h2>{{ 'TERMS_P8_1' | translate }}</h2>
		</ion-item>
		<ion-card-content>
			{{ 'TERMS_P8_2' | translate }}<br/><br/>
			{{ 'TERMS_P8_3' | translate }}<br/>
		</ion-card-content>	
	</ion-card>	
	<ion-card class="cardDesign">
		<ion-item>
			<h2>{{ 'TERMS_P9_1' | translate }}</h2>
		</ion-item>
		<ion-card-content>
			{{ 'TERMS_P9_2' | translate }}
		</ion-card-content>	
	</ion-card>	
	<ion-card class="cardDesign">
		<ion-item>
			<h2>{{ 'TERMS_P10_1' | translate }}</h2>
		</ion-item>
		<ion-card-content>
			{{ 'TERMS_P10_2' | translate }}<br/><br/>
			{{ 'TERMS_P10_3' | translate }}<br/>
		</ion-card-content>	
	</ion-card>	
	<ion-card class="cardDesign">
		<ion-item>
			<h2>{{ 'TERMS_P11_1' | translate }}</h2>
		</ion-item>
		<ion-card-content>
			{{ 'TERMS_P11_2' | translate }}<br/><br/>
			{{ 'TERMS_P11_3' | translate }}<br/><br/>
			{{ 'TERMS_P11_3' | translate }}<br/>
		</ion-card-content>	
	</ion-card>	
</ion-content>