<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'CHANGE_PASSWORD_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="cardDesign">
    <ion-card-content>
      {{ 'CHANGE_PASSWORD_DESC' | translate }}
    </ion-card-content>
  </ion-card>


  <form [formGroup]="updateForm" (ngSubmit)="saveForm(updateForm.value)">

    <ion-card class="cardDesign">
      <ion-card-content>
        <ion-item>
          <ion-label stacked>{{ 'CHANGE_PASSWORD_CURRENT_PWORD' | translate }}</ion-label>
          <ion-input *ngIf="!showPassword" type="password" formControlName="Password" [(ngModel)]="user.Password" #input
            maxlength="30"></ion-input>
          <ion-input *ngIf="showPassword" type="text" formControlName="Password" [(ngModel)]="user.Password" #input
            maxlength="30"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card class="cardDesign">
      <ion-card-content>

        <ion-item>
          <ion-label stacked>{{ 'CHANGE_PASSWORD_NEW_PWORD' | translate }}</ion-label>
          <ion-input *ngIf="!showPassword" type="password" formControlName="NewPassword" [(ngModel)]="user.NewPassword"
            maxlength="16"></ion-input>
          <ion-input *ngIf="showPassword" type="text" formControlName="NewPassword" [(ngModel)]="user.NewPassword"
            maxlength="16"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>{{ 'CHANGE_PASSWORD_NEW2_PWORD' | translate }}</ion-label>
          <ion-input *ngIf="!showPassword" type="password" formControlName="ConfirmPassword"
            [(ngModel)]="user.ConfirmPassword" maxlength="16"></ion-input>
          <ion-input *ngIf="showPassword" type="text" formControlName="ConfirmPassword"
            [(ngModel)]="user.ConfirmPassword" maxlength="16"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-button size="small" fill="clear" color="tertiary" (click)="showHidePassword($event)"
            *ngIf="!showPassword">
            <ion-icon slot="start" name="eye-outline"></ion-icon>
            {{ 'CHANGE_PASSWORD_SHOW_PWORD' | translate }}
          </ion-button>

          <ion-button size="small" fill="clear" color="tertiary" (click)="showHidePassword($event)"
            *ngIf="showPassword">
            <ion-icon slot="start" name="eye-outline"></ion-icon>
            {{ 'CHANGE_PASSWORD_HIDE_PWORD' | translate }}
          </ion-button>
        </ion-item>

      </ion-card-content>
    </ion-card>

    <ion-list>
      <div padding>
        <div padding>
          <br />
          <ion-button size="large" expand="block" type="submit" [disabled]="!isReadyToSave">{{ 'BUTTON_SAVE' |
            translate }}
          </ion-button>
          <br />
          <br />
        </div>
      </div>
    </ion-list>

  </form>


</ion-content>