:host {

	.lottoBoardNumbers, ion-card-header {
		word-spacing: 4px;
		padding-left:2px;
		text-align:center;
	}
	.cardDesign {
		width:100%;
	}
	.sd {
		padding-right:15px;
		word-break: break-word;
		display: inline-block;
	}
}
