<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>{{ 'FORGOT_PASSWORD_TITLE' | translate }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<div *ngIf="!submittedSuccessfully">
		<p>{{ 'FORGOT_PASSWORD_DESC' | translate }}</p>
		<br />
		<br />
		<form [formGroup]="userForm" (ngSubmit)="sendPasswordResetForm()">
			<ion-list>
				<ion-item>
					<ion-label stacked>{{ 'EMAIL' | translate }}</ion-label>
					<ion-input type="text" formControlName="EmailAddress" [(ngModel)]="user.EmailAddress" #emailInput>
					</ion-input>
				</ion-item>
			</ion-list>

			<div padding>
				<br />
				<ion-button size="large" expand="block" type="submit" [disabled]="!isReadyToSave">{{ 'FORGOT_PASSWORD_SUBMIT' |
					translate }}
				</ion-button>
				<br />
				<br />
			</div>
		</form>
	</div>
	<div *ngIf="submittedSuccessfully">
		<br />
		<br />
		<h3>{{ 'FORGOT_PASSWORD_SUBMITTED' | translate }}</h3>
		<div padding>
			<br />
			<ion-button size="large" expand="block" [routerLink]="['/login']" routerDirection="back">{{ 'FORGOT_PASSWORD_BACK' | translate }}
			</ion-button>
			<br />
			<br />
		</div>
	</div>
</ion-content>