<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>{{ 'ABOUT_TITLE' | translate }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="outer-content">

	<ion-card class="cardDesign">
		<ion-card-content>
			{{ 'ABOUT_P1' | translate }}
		</ion-card-content>
	</ion-card>

	<ion-card class="cardDesign">
		<ion-item>
			<h2>{{ 'ABOUT_H1' | translate }}</h2>
		</ion-item>
		<ion-card-content>
			{{ 'ABOUT_H1_1' | translate }}<br/>
			<ul>
			<li>{{ 'ABOUT_H1_2' | translate }}</li>
			<li>{{ 'ABOUT_H1_3' | translate }}</li>
			<li>{{ 'ABOUT_H1_4' | translate }}</li>
			</ul>
		</ion-card-content>	
	</ion-card>

	<ion-card class="cardDesign">
		<ion-item>
			<h2>{{ 'ABOUT_H2' | translate }}</h2>
		</ion-item>
		<ion-card-content>
			{{ 'ABOUT_H2_1' | translate }}<br/>
			<ul>
				<li>{{ 'ABOUT_H2_2' | translate }}</li>
				<li>{{ 'ABOUT_H2_3' | translate }}</li>
				<li>{{ 'ABOUT_H2_4' | translate }}</li>
				<li>{{ 'ABOUT_H2_5' | translate }}</li>
				<li>{{ 'ABOUT_H2_6' | translate }}</li>
			</ul>
		</ion-card-content>	
	</ion-card>

	<ion-card class="cardDesign">
		<ion-item>
			<h2>{{ 'ABOUT_H3_1' | translate }}</h2>
		</ion-item>
		<ion-card-content>
			{{ 'ABOUT_H3_2' | translate }}
		</ion-card-content>	
	</ion-card>

	
</ion-content>